.jumbotron{
    background-color: aliceblue;
    background-image: url("./images/back-h.jpg");
    background-size: contain;
    color: black;
    font-weight: bold;
}

.jumbotron p{
    color: black;
    font-weight: bold;
}

body{
    background-color: #e3f2fd;
}